@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-navbar-width: 68px;
  --background: #f3f4f6;
}

body {
  @apply font-sans;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--background);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
